<!DOCTYPE html>
<html lang="en">
<head>
	<title>Current Weather</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div>
			<h1>Current Weather</h1>
			<p>I'm not very pretty</p>
			<p>Works with the Forecast.io API to pull weather data.  Works with Google's reverse geocode service to attempt to get a human-friendly location.</p>
		</div>

		<div id="current-weather">
			<h3>Loading...</h3>
		</div>
		<div id="location"></div>

		<form id="get-current-weather" name="get-current-weather">
			<h4>Search:</h4>
			<p>
				<label for="lat">Latitude</label>
				<input type="text" name="lat" />
			</p>
			<p>
				<label for="lng">Longitude</label>
				<input type="text" name="lng" />
			</p>
			<button class="btn btn-primary search">Search</button>
			<p class="message"></p>
		</form>

	</div><!-- .container -->

	<!--templates-->
	<script type="text/template" id="current-tmpl">
		<h3><span class="summary"><%= summary %></span>, <span class="temp"><%= temperature %></span>&deg;</h3>
	</script>
	<!--/templates-->

	<!--require-->
	<script>var require = {urlArgs: "bust="+(new Date()).getTime()}</script>
	<script src="js/libs/require.min.js" data-main="js/main"></script>
	<!--/require-->
	
</body>
</html>